.about-section-wrapper {
  z-index: 1;
  overflow: hidden;
  .about-items {
    margin-top: 20px;
    &::after {
      clear: both;
      display: block;
      content: "";
    }
    li {
      width: 50%;
      float: left;
      padding-top: 15px;
      font-weight: 500;
      position: relative;
      padding-left: 20px;
      &::before {
        position: absolute;
        left: 0px;
        top: 16px;
        content: "\f178";
        font-family: FontAwesome;
      }
    }
  }
  .about-img {
    padding: 0 25px;
    figure {
      overflow: hidden;
      border-radius: 4px;
      height: 350px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .button {
    margin-top: 30px;
  }
  z-index: 1;
  overflow: hidden;
  h3 {
    margin-bottom: 20px;
  }
  p {
    text-align: justify;
    line-height: 28px;
  }
  &::after {
    position: absolute;
    content: "";
    right: -100px;
    top: 0px;
    width: 38%;
    height: 110%;
    background-image: repeating-linear-gradient(
        333deg,
        hsla(119, 47%, 93%, 0.05) 0px,
        hsla(119, 47%, 93%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(119, 47%, 93%, 0.05) 11px,
        hsla(119, 47%, 93%, 0.05) 12px,
        transparent 12px,
        transparent 32px
      ),
      repeating-linear-gradient(
        45deg,
        hsla(119, 47%, 93%, 0.05) 0px,
        hsla(119, 47%, 93%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(119, 47%, 93%, 0.05) 11px,
        hsla(119, 47%, 93%, 0.05) 12px,
        transparent 12px,
        transparent 32px
      ),
      repeating-linear-gradient(
        135deg,
        hsla(119, 47%, 93%, 0.05) 0px,
        hsla(119, 47%, 93%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(119, 47%, 93%, 0.05) 11px,
        hsla(119, 47%, 93%, 0.05) 12px,
        transparent 12px,
        transparent 32px
      ),
      repeating-linear-gradient(
        0deg,
        hsla(119, 47%, 93%, 0.05) 0px,
        hsla(119, 47%, 93%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(119, 47%, 93%, 0.05) 11px,
        hsla(119, 47%, 93%, 0.05) 12px,
        transparent 12px,
        transparent 32px
      ),
      repeating-linear-gradient(
        90deg,
        hsla(119, 47%, 93%, 0.05) 0px,
        hsla(119, 47%, 93%, 0.05) 1px,
        transparent 1px,
        transparent 11px,
        hsla(119, 47%, 93%, 0.05) 11px,
        hsla(119, 47%, 93%, 0.05) 12px,
        transparent 12px,
        transparent 32px
      ),
      linear-gradient(90deg, rgb(130, 26, 221), rgb(63, 178, 202));
    z-index: -1;
    transform: skew(-15deg);
  }
}
.product_wrapper {
  margin-top: 60px;
}
.new_arrival_section {
  .section-title {
    margin-bottom: 60px;
  }
}
.client-section {
  .section-title {
    margin-bottom: 60px;
  }
}
.slider_item {
  margin: 0 10px;
}
